*{
    margin:0;
    box-sizing:border-box;
}

#container{
    display:flex;
    flex-wrap: wrap;
}

#container div{
    background:black;
    margin: 0.5vh 0.5vw;
    flex: 1 0 5vw;
    height: 5vh;
}

